<div class="dialog-container">
  <h2 mat-dialog-title class="dialog-title">{{ 'DIALOG.CREW_CARD_TITLE' | translate }}</h2>

  <mat-dialog-content class="dialog-content">
    <form [formGroup]="form">
      <div class="input-row">
        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'PERSONAL_INFO.FIRST_NAME' | translate }}</mat-label>
            <input matInput [formControlName]="'name'" />
          </mat-form-field>
        </div>

        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'PERSONAL_INFO.LAST_NAME' | translate }}</mat-label>
            <input matInput [formControlName]="'lastName'" />
          </mat-form-field>
        </div>
      </div>

      <div class="input-row">
        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'PERSONAL_INFO.NATIONALITY' | translate }}</mat-label>
            <mat-select [formControlName]="'nationality'">
              <mat-option value="Turkish">{{ 'NATIONALITY_OPTIONS.TURKISH' | translate }}</mat-option>
              <mat-option value="Greek">{{ 'NATIONALITY_OPTIONS.GREEK' | translate }}</mat-option>
              <mat-option value="British">{{ 'NATIONALITY_OPTIONS.BRITISH' | translate }}</mat-option>
              <mat-option value="Egyptian">{{ 'NATIONALITY_OPTIONS.EGYPTIAN' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'TABLE.TITLE' | translate }}</mat-label>
            <mat-select [formControlName]="'title'">
              <mat-option value="Captain">{{ 'TITLE_OPTIONS.CAPTAIN' | translate }}</mat-option>
              <mat-option value="2. Captain">{{ 'TITLE_OPTIONS.SECOND_CAPTAIN' | translate }}</mat-option>
              <mat-option value="Crew">{{ 'TITLE_OPTIONS.CREW' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="input-row">
        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'PERSONAL_INFO.DAYS_ON_BOARD' | translate }}</mat-label>
            <input matInput [formControlName]="'daysOnBoard'" />
          </mat-form-field>
        </div>

        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'PERSONAL_INFO.DAILY_RATE' | translate }}</mat-label>
            <input matInput [formControlName]="'dailyRate'" />
          </mat-form-field>
        </div>
      </div>

      <div class="input-row">
        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'PERSONAL_INFO.CURRENCY' | translate }}</mat-label>
            <mat-select [formControlName]="'currency'">
              <mat-option value="USD">{{ 'CURRENCY_OPTIONS.USD' | translate }}</mat-option>
              <mat-option value="EU">{{ 'CURRENCY_OPTIONS.EU' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'PERSONAL_INFO.TOTAL_INCOME' | translate }}</mat-label>
            <input matInput [formControlName]="'totalIncome'" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions">
    <button mat-raised-button (click)="onClose()">{{ 'BUTTONS.CLOSE' | translate }}</button>
    <button
      mat-stroked-button
      color="primary"
      (click)="onCertificatesOpen()"
      [disabled]="form.invalid"
    >
      {{ 'TABS.CERTIFICATES' | translate }}
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="onSave()"
      [disabled]="form.invalid"
    >
      {{ 'BUTTONS.SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</div>
