<div class="container">
  <mat-tab-group>
    <mat-tab label="Crew Card">
        <mat-card appearance="outlined">
            <mat-card-content>
                <h1>Personal Information</h1>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>First Name</mat-label>
                      <input matInput placeholder="First Name" value="name">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last Name" value="lastName">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <mat-label>Nationality</mat-label>
                        <input matInput placeholder="Nationality" value="nationality">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <mat-label>Days on Board</mat-label>
                        <input matInput placeholder="Days on Board" value="daysOnBoard">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <mat-label>Daily Rate</mat-label>
                        <input matInput placeholder="Daily Rate" value="dailyRate">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <mat-label>Currency</mat-label>
                        <input matInput placeholder="Currency" value="currency">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <mat-label>Total Income</mat-label>
                        <input matInput placeholder="Total Income" value="totalIncome">
                      </mat-form-field>
                  </form>
            </mat-card-content>
          </mat-card>
         </mat-tab>
    <mat-tab label="Certificates">
        <mat-card appearance="outlined">
            <mat-card-content>
                <h1>Certificates</h1>
                <mat-list>
                    <mat-list-item>
                      <span matListItemTitle>Certificates1</span>
                      <span matListItemLine>Captain Certificates</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Certificates2</span>
                      <span matListItemLine>Card Crew Certificates</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Certificates3</span>
                      <span matListItemLine>Crew Managment</span>
                    </mat-list-item>
                  </mat-list>
            </mat-card-content>
          </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
