<div class="container">
  <mat-tab-group>
    <mat-tab label="Certificates">
      <mat-card appearance="outlined">
        <mat-card-content>
          <h1>Certificates</h1>
          <div style="display: flex">
            <mat-card appearance="outlined">
              <mat-card-content>
                <b>Sertificate Type: </b>Deneme <br />
                <b>Issue Date: </b>12.12.15 <br />
                <b>Expiry Date: </b>12.12.25
              </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined" style="margin-left: 5px">
              <mat-card-content>
                <b>Sertificate Type: </b>Deneme <br />
                <b>Issue Date: </b>12.12.15 <br />
                <b>Expiry Date: </b>12.12.25
              </mat-card-content>
            </mat-card>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
