header {
    background-color: #f9f9f9;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

header > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header > ul > li {
    display: inline-block;
}

header > ul > li > a {
    cursor: pointer;
    transition: .3s;
}

header > ul > li > a > img {
    width: 30px;
    margin: 0 5px;
}

header > ul > li > a > img:hover {
    background-color: #f3f3f3;
}

.left-menu > li > a {
    padding: 15px;

}