<div class="dialog-container">
  <h2 mat-dialog-title class="dialog-title">Certificate Add</h2>
  <mat-dialog-content class="dialog-content">
    <!-- <form [formGroup]="form">
      <div class="input-row">
        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Certificate Type</mat-label>
            <mat-select [formControlName]="'nationality'">
              <mat-option value="Turkish">Turkish</mat-option>
              <mat-option value="Greek">Greek</mat-option>
              <mat-option value="British">British</mat-option>
              <mat-option value="Egyptian">Egyptian</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Title</mat-label>
            <mat-select [formControlName]="'title'">
              <mat-option value="Captain">Captain</mat-option>
              <mat-option value="2. Captain">2. Captain</mat-option>
              <mat-option value="Crew">Crew</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="input-row">
        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Days On Board</mat-label>
            <input matInput [formControlName]="'daysOnBoard'" />
          </mat-form-field>
        </div>

        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Daily Rate</mat-label>
            <input matInput [formControlName]="'dailyRate'" />
          </mat-form-field>
        </div>
      </div>

      <div class="input-row">
        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Currency</mat-label>
            <mat-select [formControlName]="'currency'">
              <mat-option value="USD">Dollars</mat-option>
              <mat-option value="TL">Turkish Liras</mat-option>
              <mat-option value="Pound">Pound</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Total Income</mat-label>
            <input matInput [formControlName]="'totalIncome'" />
          </mat-form-field>
        </div>
      </div>
    </form> -->
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions">
    <button mat-raised-button (click)="onClose()">Close</button>
    <button
      mat-flat-button
      color="primary"
      (click)="onSave()"
      [disabled]="form.invalid"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
