<div class="dialog-container">
  <h2 mat-dialog-title class="dialog-title">
    {{ "CERTIFICATES.ADD_TITLE" | translate }}
  </h2>
  <mat-dialog-content class="dialog-content">
    <form [formGroup]="form">
      <div class="input-row">
        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'CERTIFICATES.CERTIFICATE_TYPE' | translate }}</mat-label>
            <mat-select [formControlName]="'certificateType'">
              <mat-option value="1">Deneme</mat-option>
              <mat-option value="2">Deneme 2</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ "CERTIFICATES.ISSUE_DATE" | translate }}</mat-label>
            <input
              matInput
              placeholder="{{ 'CERTIFICATES.ISSUE_DATE' | translate }}"
              value="issueDate"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="input-row">
        <div class="input-container">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ "CERTIFICATES.EXPIRY_DATE" | translate }}</mat-label>
            <input
              matInput
              placeholder="{{ 'CERTIFICATES.EXPIRY_DATE' | translate }}"
              value="expiryDate"
            />
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions">
    <button mat-raised-button (click)="onClose()">
      {{ "BUTTONS.CLOSE" | translate }}
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="onSave()"
      [disabled]="form.invalid"
    >
      {{ "BUTTONS.SAVE" | translate }}
    </button>
  </mat-dialog-actions>
</div>
