<div class="dialog-container">
  <h2 mat-dialog-title class="dialog-title">Certificates</h2>

  <mat-dialog-content class="dialog-content">
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Certificates1</span>
        <span matListItemLine>Captain Certificates</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Certificates2</span>
        <span matListItemLine>Card Crew Certificates</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Certificates3</span>
        <span matListItemLine>Crew Managment</span>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="onClose()">Kapat</button>
  </mat-dialog-actions>
</div>
